<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemDesk</title>
    <link rel="stylesheet" href="/static/styles.css">
    <!-- <script type = "module" src="/static/qr-scanner.min.js"></script> -->
    <script src="/static/script.js"></script>
    <script>
    </script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    <div class = "scannerBody">
        <img id = "qrScanner" width = 200 height = 200 src = "/static/Example-QR-code.webp">

        </img>
        <div class = "links">
            <input id = "url" type = "text" />
            <button onclick="connect()">Connect</button>
        </div>
        <a style = "display: none;" id = "redirect">Your Device Page</a>
    </div>
    <div class = "title">
        R E M &nbsp; D E S K
    </div>
    <div class = "recentDevices">
        <div class = "device">
            <div class = "deviceName">
                HP Laptop
            </div>
            <img src = '' width = 50 height = 50 />

        </div>

    </div>
</body>
</html>
